.tabs:checked + label >div{
background: rgb(198, 52, 52) !important;
}
.tabs:checked + label >div>div{
color: white !important;
}
.tabs:checked + label >div>svg{
fill: white;
}


  
  *::-webkit-scrollbar {
    /* display: none;  */
    /* WebKit browsers (Chrome, Safari) */
  }

  .custom-scroll {
 
    overflow-y: scroll;
    /* border: 1px solid #ccc; */
  }
  
  /* Customize the scrollbar */
  .custom-scroll::-webkit-scrollbar {
    width: 6px; /* Width of the entire scrollbar */
  }
  
  /* Track */
  .custom-scroll::-webkit-scrollbar-track {
    background: rgb(55 65 81); /* Color of the scrollbar track */
  }
  
  /* Handle */
  .custom-scroll::-webkit-scrollbar-thumb {
    background-color: #db0000; /* Color of the scrollbar handle */
    border-radius: 6px; /* Roundness of the scrollbar handle */
    border: 1px solid #e50000; /* Space around the handle */
  }
  
  /* Handle on hover */
  .custom-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #d61515; /* Color when hovering over the scrollbar handle */
  }
  
  