.tabs:checked + label >div{
background: black !important;
}
.tabs:checked + label >div>div{
color: white !important;
}
.tabs:checked + label >div>svg{
fill: white;
}


  
  *::-webkit-scrollbar {
    display: none; /* WebKit browsers (Chrome, Safari) */
  }
  