@tailwind base;
@tailwind components;
@tailwind utilities;
.ripple-circle {
    position: relative;
    /* display: inline-block; */
    width: 20px;
    height: 20px;
    /* background-color: red; */
    border-radius: 50%;
    cursor: pointer;
    animation: ripple 1.7s infinite ease-out;
}

@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.5),
                    0 0 0 5px rgba(255, 0, 0, 0.3),
                    0 0 0 10px rgba(255, 0, 0, 0.1);
    }
    100% {
        box-shadow: 0 0 0 10px rgba(255, 0, 0, 0),
                    0 0 0 15px rgba(255, 0, 0, 0),
                    0 0 0 20px rgba(255, 0, 0, 0);
    }
}